* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------------------General */


h1{
    color: red;
}

/* ---------------------Header */


header{
    background-color: lightblue;
}

.menucontainer {
    display: flex;
    justify-content:right;
    border: solid 5px black;
    left: 0;
    padding: 30px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 10px;
}

.title {
    padding: 30px;
}